<!DOCTYPE html>
<html ng-app="facebookFriends">
<head>
  <title>Angular Friends</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body ng-controller="FriendController">

  <h1>The <strong>facebook</strong> Friend Machine</h1>

  <div class="friends"> 
    <form class="form-inline searchForm" role="form">
      <div class="form-group">

        <!-- <input class="form-control" placeholder="Search Anything About Your Friends" ng-model="searchTerm"> -->
        <!-- STEP 5: Get rid of the one above when you uncomment the below-->
          
        <input class="form-control" placeholder="Search Name" ng-model="search.name">
        <input class="form-control" placeholder="Search Location" ng-model="search.current_location.$">
          

        <select class="input-medium" ng-model="sorter">
          <option value='-name'>Name</option>
          <option value='-friend_count'>#Friends</option>
          <option value='-current_location.city'>City</option>
          <option value='-current_location.state'>State</option>
          <option value='-current_location.country'>Country</option>
        </select>

        <select class="input-medium" ng-model="descend">
          <option value="!" >Descending</option>
          <option value="">Ascending</option>
        </select>

      </div>
    </form>

    <ul>
      <li class="friend" ng-repeat="friendProf in friends | filter:search | orderBy:sorter:descend"> 

        <img class="profile-pic" src="{{ friendProf.pic_square }}"> 

        <h3> {{ friendProf.name }} </h3>

        <div class="location">
          Location: {{ friendProf.current_location.name }}, {{ friendProf.current_location.country }}
        </div>

        <div class="status">
          Status: {{ friendProf.status.message }} 
          <span class="hashtag"></span>
        </div>

        <div class="num-friends">
          Friends: {{ friendProf.friend_count }}
        </div>
      </li>
    </ul>
  </div>

  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src="app.js"></script>
  <script src="FriendController.js"></script>
</body>
</html>
